body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
}

/* =================================================================
  top banner area 
  =================================================================*/
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}
#for-margin-top {
  margin-top: 100px;
}
h1 {
  font-family: "Yeseva One", cursive;
  font-size: 80px;
  margin-bottom: 25px;
  margin-left: 20px;
  font-weight: normal;
}
#different-color {
  color: rgba(0, 128, 0, 0.541);
  margin-top: 25px;
}
.left-border {
  border-left: 5px solid #008000;
  border-radius: 5px;
}
.half-width img {
  width: 80%;
}
a.link-button {
  text-decoration: none;
  background-color: green;
  color: white;
  border-radius: 3px;
  padding: 10px 40px;
}
p {
  margin-top: 50px;
  margin-bottom: 45px;
}

/* =========================================================
  content area
  ============================================================= */
.content-area h1 {
  text-align: center;
}

.image {
  width: 100%;
}

.image img {
  width: 35%;
  margin-top: 40px;
  margin-left: 30px;
}

h3 {
  font-family: "Poppins";
  font-size: 24px;
}
.average-width {
  width: 30%;
  border-radius: 30px;
}
.average-width h3 {
  margin-left: 40px;
}

.average-width p {
  margin-left: 40px;
  margin-top: 25px;
}
.first-content {
  margin-left: 10%;
  margin-right: 2%;
  background-color: #edf5f6;
}
.second-content {
  background-color: #ffeeee;
}
.third-content {
  margin-right: 10%;
  margin-left: 2%;
  background-color: #fff4d6;
}
.main-content {
  margin-top: 50px;
}

/* =========================================================
  working area
  ============================================================= */
.working-image-area {
  width: 30%;
  margin-left: 10%;
}
.working-image-area img {
  border-radius: 30px;
  height: 500px;
  width: 100%;
}
.working-content-area {
  width: 65%;
  margin-right: 10%;
  margin-left: 5%;
}
.working-content-area h2 {
  font-size: 45px;
  font-weight: bold;
}
.header-margin-top {
  margin-top: 10px;
  margin-bottom: 15px;
}
.header-margin-bottom {
  margin-bottom: 10px;
}
.working-content-area p {
  margin-top: 15px;
  font-size: 20px;
}

/* =========================================================
  working area
  ============================================================= */
.working-image-area-two {
  width: 30%;
  margin-right: 10%;
}
.working-image-area-two img {
  border-radius: 30px;
  height: 500px;
  width: 100%;
}
.working-content-area-two {
  width: 65%;
  margin-left: 10%;
  margin-right: 5%;
}
.working-content-area-two h2 {
  font-size: 45px;
  font-weight: bold;
}
.header-margin-top-two {
  margin-top: 10px;
  margin-bottom: 15px;
}
.header-margin-bottom-two {
  margin-bottom: 10px;
}
.working-content-area-two p {
  margin-top: 15px;
  font-size: 20px;
}

/*================================================================
 contact form 
 ==============================================================*/

.contact-flex {
  display: flex;
  margin-bottom: 20px;
}
secton.contact-form h2 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 40px;
}
.message-here {
  margin-left: 10%;
  margin-right: 10%;
  width: 78%;
  margin-bottom: 20px;
}
secton.contact-form a.link-button {
  margin-left: 10%;
  margin-bottom: 10%;
  display: block;
  width: 8%;
}
.message-here input {
  width: 100%;
  height: 150px;
}
.half-width input {
  width: 70%;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  color: green;
}
.message-here input {
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  color: green;
}

/*==========================================================
 footer area 
 =========================================================*/
.footer-area {
  text-align: center;
  background-color: #0b0d17;
  color: white;
  padding-top: 25px;
  padding-bottom: 20px;
}
.footer-area h2 {
  font-family: "Yeseva One", cursive;
  font-size: 40px;
}
.footer-area p {
  margin-top: 25px;
  color: #d8dae0;
}
