body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
}

/* =================================================================
top banner area 
=================================================================*/
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}
#for-margin-top {
  margin-top: 100px;
}
h1 {
  font-family: "Yeseva One", cursive;
  font-size: 80px;
  margin-bottom: 25px;
  margin-left: 20px;
  font-weight: normal;
}
#different-color {
  color: rgba(0, 128, 0, 0.541);
  margin-top: 25px;
}
.left-border {
  border-left: 5px solid #008000;
  border-radius: 5px;
}
.half-width img {
  width: 80%;
}
a.link-button {
  text-decoration: none;
  background-color: green;
  color: white;
  border-radius: 3px;
  padding: 10px 40px;
}
p {
  margin-top: 50px;
  margin-bottom: 45px;
}

/* =========================================================
content area
============================================================= */
.content-area h1 {
  text-align: center;
}

.image {
  width: 100%;
}

.image img {
    width: 35%;
    margin-top: 40px;
    margin-left: 30px;
}

h3 {
  font-family: "Poppins";
  font-size: 24px;
}
.average-width {
  width: 30%;
  border-radius: 30px;
}
.average-width h3 {
    margin-left: 40px;
}

.average-width p {
    margin-left: 40px;
    margin-top: 25px;
}
.first-content {
  margin-left: 10%;
  margin-right: 2%;
  background-color: #EDF5F6;
}
.second-content{
  background-color: #FFEEEE;
}
.third-content {
  margin-right: 10%;
  margin-left: 2%;
  background-color: #FFF4D6;
}
.main-content{
    margin-top: 50px;